<router-outlet></router-outlet>
<button type="button" (click)='display()'>{{ stores }}</button>
<div *ngIf = displaying class="table wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th scope="row">creditCardNumber</th>
        <th scope="row">cardHolder</th>
        <th scope="row">expirationDate</th>
        <th scope="row">securityCode</th>
        <th scope="row">amount</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let credit_cards of (credit_card$ | async)">
        <td>{{credit_cards.creditCardNumber}}</td>
        <td>{{credit_cards.cardHolder}}</td>
        <td>{{credit_cards.expirationDate}}</td>
        <td>{{credit_cards.securityCode}}</td>
        <td>{{credit_cards.amount}}</td>
        <th>
          <a (click)=deleteCreditCard(credit_cards)>del</a>
        </th>
      </tr>
    </tbody>
  </table>
</div>