  body {
    min-height: 100vh;
    display: grid;
    align-items: center;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    
    & > input {
      flex: 1 1 10ch;
      margin: .5rem;
      
      &[type="text"] {
        flex: 3 1 30ch;
      }
    }
  }
  
  input {
    border: none;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    padding: .75rem 1rem;
    
    &[type="submit"] {
      background: hotpink;
      color: white;
      box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
    }
  }

  .container {
    display: flex;
    width: 100%;
    background-color: rgba(240, 227, 227, 0.116);
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    align-content: flex-start; 
}

.containers {
    display: flex;
    width: 50%;
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background-color: rgba(247, 236, 236, 0.603);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}